@{
	
}
<section class="credits py-4 bg-light text-center">
    <div class="container">
        <p class="mb-0">
            Powered by
            <a href="https://www.weatherapi.com/" title="Free Weather API" class="text-primary font-weight-bold">
                WeatherAPI.com
            </a>
        </p>
    </div>
</section>

